/* Yleiset tyylit */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.fade-out {
    animation: fadeOut 0.5s ease;
}

.fade-in {
    animation: fadeIn 1s ease;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0)
    }
    to {
        opacity: 0;
        transform: translateY(-100px)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 10;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-100px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Alustetaan boksien alkutila */
section {
    animation: fadeIn 1s ease forwards;
}

@keyframes changeColor {
    0% { background-color: #000000; } /* Alkuväri */
    25% { background-color: #000000; } /* Alkuväri */
    50% { background-color: #520000; } /* Värimuutos puolivälissä */
    75% { background-color: #000000; } /* Alkuväri */
    100% { background-color: #000000; } /* Lopullinen väri */
}

body {
    background-color: #000;
    padding: 20px;
    position: relative; /* Lisää sivun sijainti */
    cursor: none;
    animation: changeColor 10s infinite;
}

#cursor {
    z-index: 1000;
    position: fixed;
    pointer-events: none;
    background-image: url('../KUVAT + MUUT/Cursor.png');
    background-size: cover;
    width: 16.25px;
    height: 25px;
    transition: background-image 0.5s ease; /* Lisää smooth transition */
}

#pointer {
    z-index: 1000;
    position: fixed;
    pointer-events: none;
    background-image: url('../KUVAT + MUUT/Pointer.png');
    background-size: cover;
    width: 20px;
    height: 25px;
    transition: background-image 0.5s ease; /* Lisää smooth transition */
    display: none; /* Piilotetaan oletuksena */
}

.cursor-trail {
    position: absolute;
    background-color: #ff0000;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 900; /* Asetetaan hieman alemmaksi kuin pääkurssi */
    pointer-events: none;
    opacity: 0.7; /* Alhainen läpinäkyvyys */
    animation: cursorTrail 0.5s forwards;
}

@keyframes cursorTrail {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    100% {
        transform: scale(3); /* Lisää hieman koon muutosta */
        opacity: 0;
    }
}

ul {
    margin-left: 20px; /* Määrittää marginaalin vasemmalle reunalle */
    padding-left: 20px; /* Määrittää sisennyksen luettelomerkeille */
}


.language-selector {
    display: flex;
    justify-content: center;
    gap: 20px; /* Lisää haluamasi väli nappejen väliin */
}

.flag-fi {
    background-image: url('../KUVAT + MUUT/Suomi.png');
    background-size: cover; /* Skaalaa kuva kuvakehykseen */
}

.flag-en {
    background-image: url('../KUVAT + MUUT/british.jpg');
    background-size: contain; /* Skaalaa kuva kuvakehykseen */
    background-position: center;
}

.flag-fi:hover {
    background-image: url('../KUVAT + MUUT/Suomi.png');
    background-size: cover; /* Skaalaa kuva kuvakehykseen */
}

.flag-en:hover {
    background-image: url('../KUVAT + MUUT/british.jpg');
    background-size: contain; /* Skaalaa kuva kuvakehykseen */
    background-position: center;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #910000;
    z-index: 3;
    width: 95%;
    height: 100px;
    border-radius: 1cm;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.nav-items {
    display: flex;
    justify-content: center;
    background-color: #910000;
    padding: 1px 20px;
    align-items: center; /* Lisää nav-items -elementin sisällön keskittäminen */
    gap: 2rem;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 0.5cm;
}

.language-selector button {
    margin: 15px 10px;
    padding: 10px 10px;
    color: #ffffff;
    border-radius: 1cm;
    cursor: none;
    width: 40px;
    height: 40px;
}

.language-selector button:hover {
    animation: hoverAnimation 0.5s ease-in-out forwards; /* Lisää tämä rivi */
}

.nav-logo img, .logo img {
    width: 200px;
    height: auto;
}

nav a {
    text-decoration: none;
    color: #ffbfbf;
    font-size: 25px;
    padding: 0 0.5cm;
    text-align: center; /* Keskitä linkkien teksti vaakasuunnassa */
    line-height: 1;
    text-shadow: 0 0 20px rgb(255, 255, 255);
}

/* Lisää hover-animaatio kaikkiin linkkeihin */
.nav-items a:hover {
    color: #ff0000;
    scale: 1.2;
    cursor: none;
    transition: scale 0.3s ease, color 0.6s ease;
}

.nuoli {
    display: flex;
    width: 50px;
    height: 40px;
    background-color: #910000;
    background-image: url('../KUVAT + MUUT/Arrowleft.png');
    background-size: contain;
    border-radius: 1cm;
    cursor: none;
}

.nuoli:hover {
    background-color: #ff0000;
    animation: hoverAnimation 0.5s ease-in-out forwards; /* Lisää tämä rivi */
    cursor: none;
}


button {
    padding: 0.5cm 1cm;
    width: 99%;
    font-size: 30px;
    border-radius: 0.5cm;
    color: #000;
    background-color: #ff0000;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    transition: background-color 1s ease, ease, border-radius 1s ease, box-shadow 1s ease, color 1s ease;
    cursor: none;
}

button:hover {
    background-color: #910000;
    border-radius: 1cm;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    transition: background-color 0.5s ease, ease, border-radius 1s ease, box-shadow 1s ease, color 1s ease;
    cursor: none;
}

/* Yhteiset tyylit kaikille section-elementeille */
section {
    stroke: #ff0000;
    width: 95%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin: 20px 20px;
    padding: 20px;
    background-color: #910000;
    border-radius: 1cm;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-top: 100px; /* Lisää marginaali navin alle */
    overflow: hidden; /* Piilottaa ylivuotavan sisällön */
    word-wrap: break-word; /* Pakottaa pitkät sanat jakautumaan riveille */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adjust the gap between buttons */
}

.button-container button {
    width: 100%;
    font-size: 50px;
    transform: translateY(0px);
    border-radius: 0.5cm;
    border-color: #ad0000;
    background-color: #ffffff8f;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    transition: background-color 1s ease, box-shadow 1s ease, border-radius 1s ease, transform 1s ease, color 1s ease;
}

.button-container a button{
    color: #000000;
}

.button-container a button:hover{
    color: #ffffff;
}

.button-container button:hover {
    transform: translateY(5px);
    border-radius: 1cm;
    background-color: #ff0000;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    transition: background-color 1s ease, box-shadow 1s ease, border-radius 1s ease, transform 1s ease, color 1s ease;
}

#home {
    font-size: 20px;
}


#guide {
    font-size: 25px;
}

#long {
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.right {
    height: fit-content;
    padding: 20px 50px;
    background-color: #810000;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    border-radius: 1cm;
}

.right h1 {
    text-align: center;
    text-decoration: underline;
}

#keys {
    font-size: 25px;
}

#kids {
    text-align: center;
    font-size: 25px;
}

#price {
    justify-content: center; /* Keskittää sisällön vaakasuunnassa */
    font-size: 25px;
    font-weight: bold;
    width: 50%;
    margin: 3cm auto;
}

#long button {
    transition: background-color 1s ease, box-shadow 1s ease, border-radius 1s ease, transform 1s ease;
}
#long  button:hover {
    transition: background-color 1s ease, box-shadow 1s ease, border-radius 1s ease, transform 1s ease;
}
#price button {
    transition: background-color 1s ease, box-shadow 1s ease, border-radius 1s ease, transform 1s ease;
}
#price button:hover {
    transition: background-color 1s ease, box-shadow 1s ease, border-radius 1s ease, transform 1s ease;
}

.hinnasto {
    display: flex;
    justify-content: space-between;
}

#price h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}

a {
    color: #ff0000;
    text-decoration: underline;
    text-decoration-color: #000000;
    cursor: none;
}

a:hover {
    color: #ffc6c6;
    cursor: none;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #00000000;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center; /* Lisää tämä */
    padding: 20px 0;
    height: auto;
}

footer iframe {
    display: block; /* Muuta flex:ksi, jos haluat käyttää flex-ominaisuuksia */
    width: 25%; /* Voit säätää leveyttä tarpeen mukaan */
    min-height: 500px;
    margin: 0 auto; /* Varmistaa keskittämisen */
}

footer button {
    display: flex;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    color: #ffffff;
    border-radius: 1cm;
    margin: 10px;
    padding: 0.3cm 1cm;
    font-size: 20px;
    cursor: none;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}


footer a {
    text-decoration: none;
}

footer button:hover {
    background: #ff5151;
    color: #000;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    animation: hoverAnimation 0.5s ease-in-out forwards; /* Lisää tämä rivi */
    cursor: none;
}

@keyframes hoverAnimation {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgb(255, 0, 0);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgb(255, 255, 255);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgb(255, 0, 0);
    }
}

.Pin {
    width: 30px;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Lisää haluamasi väli nappejen väliin */
}

.footlog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust spacing between logos as needed */
}

.foot-logo {
    width: 200px; /* Adjust width as needed */
    height: auto;
}


@media screen and (max-width: 623px) {

    body {
        cursor: auto;
    }
    
    #cursor {
        display: none;
    }
    

    .nav-logo {
        display: none;
    }

    .nav-items {
        padding: 0 0;
        gap: 1;
    }

    .nuoli {
        width: 10px;
    }

    #home {
        font-size: 15px;
    }

    .button-container {
        display: flex;
        flex-direction: column;
    }

    .button-container a{
        width: 100%;
    }

    button {
        font-size: 20px;
        padding: auto;
    }
    
    
    #guide {
        font-size: 20px;
    }
    
    #long {
        font-size: 20px;
    }

    #kids {
        font-size: 20px;
    }    
    
    #keys {
        font-size: 20px;
    }

    .footer-buttons {
        flex-direction: column;
        gap: 0; /* Lisää haluamasi väli nappejen väliin */
    }
    
}

@media screen and (max-width: 1289px) {
    
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .button-container a button{
        font-size: 25px;
    }

    #price {
        justify-content: center; /* Keskittää sisällön vaakasuunnassa */
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        height: 100%;
        margin: 2 auto; /* Keskittää elementin sivun keskelle */
    }
    
    .hinnasto {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    #price h1 {
        display: flex;
        justify-content: flex-start;
        text-decoration: underline;
    }

    footer {
        font-size: 17px;
    }

    footer iframe {
        width: 50%; /* Voit säätää leveyttä tarpeen mukaan */
        min-height: 250px;
    }

    .footlog {
        flex-direction: column;
    }

    
}