/* Yleiset tyylit */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: #000;
    background-size: cover;
    padding: 20px;
    position: relative; /* Lisää sivun sijainti */
}

ul {
    margin-left: 20px; /* Määrittää marginaalin vasemmalle reunalle */
    padding-left: 20px; /* Määrittää sisennyksen luettelomerkeille */
}


.language-selector {
    display: flex;
    justify-content: center;
    gap: 20px; /* Lisää haluamasi väli nappejen väliin */
}

.flag-fi {
    background-image: url('../KUVAT + MUUT/Suomi.png');
    background-size: cover; /* Skaalaa kuva kuvakehykseen */
}

.flag-en {
    background-image: url('../KUVAT + MUUT/british.jpg');
    background-size: contain; /* Skaalaa kuva kuvakehykseen */
    background-position: center;
}

.flag-fi:hover {
    background-image: url('../KUVAT + MUUT/Suomi.png');
    background-size: cover; /* Skaalaa kuva kuvakehykseen */
}

.flag-en:hover {
    background-image: url('../KUVAT + MUUT/british.jpg');
    background-size: contain; /* Skaalaa kuva kuvakehykseen */
    background-position: center;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #910000;
    z-index: 3;
    width: 95%;
    height: 100px;
    border-radius: 1cm;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000; /* varmista, että popup on muiden elementtien päällä */
}

.hamtausta {
    display: none; /* initially hidden */
    position: fixed;
    z-index: 2; /* ensure it's above other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.623); /* semi-transparent black */
}

/* To make it visible */
.hamtausta.active {
    display: block;
    animation: fadeIn 0.5s ease forwards; /* You can define fadeIn animation */
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center; /* Lisää nav-items -elementin sisällön keskittäminen */
    gap: 2rem;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 0.5cm;
}

.language-selector button {
    margin: 15px 10px;
    padding: 10px 10px;
    color: #ffffff;
    border-radius: 1cm;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.nav-logo img, .logo img {
    width: 200px;
    height: auto;
}

.insta a {
    display: flex;
    background-image: url('../KUVAT + MUUT/Instagram.png');
    background-size: contain; /* Skaalaa kuva kuvakehykseen */
    background-position: center;
    width: 1.4cm;
    height: 1.4cm;
    border-radius: 0.5cm;
}

nav a {
    text-decoration: none;
    color: #ffbfbf;
    font-size: 25px;
    padding: 0 0.5cm;
    text-align: center; /* Keskitä linkkien teksti vaakasuunnassa */
    line-height: 1;
    text-shadow: 0 0 20px rgb(255, 255, 255);
}

/* Lisää hover-animaatio kaikkiin linkkeihin */
.nav-items a:hover {
    color: #ff0000;
    scale: 1.2;
    cursor: pointer;
    transition: scale 0.3s ease, color 0.6s ease;
}

#contact-link {
    color: #ff0000;
    text-decoration: underline;
    cursor: pointer;
}

#contact-link:hover {
    color: #ff7373;
}

button {
    background-image: url(../KUVAT\ +\ MUUT/Arrowleft.png);
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #910000;
    background-size: contain;
    border-radius: 1cm;
}

button:hover {
    background-color: #ff0000;
}

/* Yhteiset tyylit kaikille section-elementeille */
section {
    stroke: #ff0000;
    width: 95%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin: 20px 20px;
    padding: 20px;
    background-color: #910000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    margin-top: 100px; /* Lisää marginaali navin alle */
    overflow: hidden; /* Piilottaa ylivuotavan sisällön */
    word-wrap: break-word; /* Pakottaa pitkät sanat jakautumaan riveille */
}

#privacy {
    background-color: #9e0000;
    font-size: 25px;
}

#guide {
    background-color: #9e0000;
    font-size: 25px;
}

a {
    color: #ff0000;
}

a:hover {
    color: #ffc6c6;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #00000000;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center; /* Lisää tämä */
    border-radius: 0.5cm;
    padding: 20px 0;
    width: 95%;
    height: auto;
}

footer iframe {
    display: block; /* Muuta flex:ksi, jos haluat käyttää flex-ominaisuuksia */
    width: 25%; /* Voit säätää leveyttä tarpeen mukaan */
    min-height: 500px;
    margin: 0 auto; /* Varmistaa keskittämisen */
}

footer button {
    display: flex;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    color: #ffffff;
    margin: 10px;
}

.Pin {
    width: 30px;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Lisää haluamasi väli nappejen väliin */
}

.footlog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust spacing between logos as needed */
}

.foot-logo {
    width: 200px; /* Adjust width as needed */
    height: auto;
}




@media screen and (max-width: 1289px) {
    footer {
        font-size: 17px;
    }

    footer iframe {
        width: 50%; /* Voit säätää leveyttä tarpeen mukaan */
        min-height: 250px;
    }

    .footlog {
        flex-direction: column;
    }
}