/* Yleiset tyylit */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

body {
    background: #000;
    background-size: cover;
    padding: 20px;
    position: relative; /* Lisää sivun sijainti */
}

/* CSS-animaatio boksien esiintulolle */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-100px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Alustetaan boksien alkutila */
section {
    transform: translateY(-20px);
    animation: fadeIn 1s ease forwards;
}

/* Sisältö näkyväksi */
section.visible {
    opacity: 1;
    transform: translateY(0);
}

.language-selector {
    display: flex;
    justify-content: center;
    gap: 20px; /* Lisää haluamasi väli nappejen väliin */
}

.flag-fi {
    background-image: url('../KUVAT + MUUT/Suomi.png');
    background-size: cover; /* Skaalaa kuva kuvakehykseen */
}

.flag-en {
    background-image: url('../KUVAT + MUUT/british.jpg');
    background-size: contain; /* Skaalaa kuva kuvakehykseen */
    background-position: center;
}

.notification-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #910000;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    z-index: 1000;
    display: none; /* Piilotetaan boksi aluksi */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notification-box button {
    margin-top: 20px;
    padding: 5px 10px;
    width: 100%;
    background-color: #ff0000;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.notification-box button:hover {
    background-color: #3b0000;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #910000;
    z-index: 3;
    width: 95%;
    height: 100px;
    border-radius: 1cm;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000; /* varmista, että popup on muiden elementtien päällä */
}

.hamtausta {
    display: none; /* initially hidden */
    position: fixed;
    z-index: 2; /* ensure it's above other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.623); /* semi-transparent black */
}

/* To make it visible */
.hamtausta.active {
    display: block;
    animation: fadeIn 0.5s ease forwards; /* You can define fadeIn animation */
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center; /* Lisää nav-items -elementin sisällön keskittäminen */
    gap: 2rem;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 0.5cm;
}

.language-selector button {
    margin: 15px 10px;
    padding: 10px 10px;
    color: #ffffff;
    border-radius: 1cm;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.nav-logo img, .logo img {
    width: 200px;
    height: auto;
}

.insta a {
    display: flex;
    background-image: url('../KUVAT + MUUT/Instagram.png');
    background-size: contain; /* Skaalaa kuva kuvakehykseen */
    background-position: center;
    width: 1.4cm;
    height: 1.4cm;
    border-radius: 0.5cm;
}

nav a {
    text-decoration: none;
    color: #ffbfbf;
    font-size: 25px;
    padding: 0 0.5cm;
    text-align: center; /* Keskitä linkkien teksti vaakasuunnassa */
    line-height: 1;
    text-shadow: 0 0 20px rgb(255, 255, 255);
}

.link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-right: 10px; /* Lisätään marginaali erottamaan linkit */
}

/* Lisää hover-animaatio kaikkiin linkkeihin */
.nav-items a:hover {
    color: #ff0000;
    scale: 1.2;
    cursor: pointer;
    transition: scale 0.3s ease, color 0.6s ease;
}

.hero {
    background-image: url('../KUVAT + MUUT/Taustakuva 2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh; /* Varmistaa, että hero-osa vie vähintään yhden näkymän korkuisen tilan */
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 1cm calc((100vw - 1300px) / 2);
}

button {
    padding: 0.5cm 2cm;
    font-size: 20px;
    border-radius: 1cm;
    color: #000;
    background: #ff0000;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    transition: transform 0.3s ease; /* Lisää tämä rivi */
}

button:hover {
    background: #ff5151;
    color: #000;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    animation: hoverAnimation 0.5s ease-in-out forwards; /* Lisää tämä rivi */
}

/* Määrittele animaatio */
@keyframes hoverAnimation {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgb(255, 0, 0);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgb(255, 255, 255);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgb(255, 0, 0);
    }
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; /* Lisää sarakkeen sijainti */
    right: 15.5cm;
}

.hero-image {
    width: 1000px;
    height: auto;
}

.column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Kiinnitä elementti näytön reunaan */
    top: 50%; /* Aseta elementin yläreuna näytön keskelle */
    right: 10%;
    max-width: 100%; /* Säädä maksimileveys tarpeidesi mukaan */
    padding: 20px;
    background-color: #91000027;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Muuta varjovaikutus tarpeidesi mukaan */
    overflow: auto;
}

.column-right z {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.column-right a {
    color: white;
}

.column-right a:hover {
    color: rgb(255, 169, 169);
}

.column-right p {
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 1;
    max-width: 100%;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

/* Yhteiset tyylit kaikille section-elementeille */
section {
    stroke: #ff0000;
    width: 95%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin: 20px 20px;
    padding: 20px;
    background-color: #910000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    margin-top: 100px; /* Lisää marginaali navin alle */
    overflow: hidden; /* Piilottaa ylivuotavan sisällön */
    word-wrap: break-word; /* Pakottaa pitkät sanat jakautumaan riveille */
}

/* Erilliset tyylit eri id:lle */
#about {
    background-color: #9e0000;
    font-size: 25px;
}

#Ohje {
    background-image: url('../KUVAT + MUUT/OhjeetFI.png');
    background-size: contain;
    width: 700px;
    height: 1000px;
}

#Guide {
    background-image: url('../KUVAT + MUUT/GuideEN.png');
    background-size: contain;
    width: 700px;
    height: 1000px;
}

#bikes {
    background-color: #9e0000;
    font-size: 25px;
}

#privacy {
    background-color: #9e0000;
    font-size: 25px;
}

.bike-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Määritä pyöräitemien leveys tässä */
    gap: 20px; /* Voit säätää tilaa pyöräitemien välillä */
    justify-content: space-between; /* Aseta tila itemien välillä */
}

.bike-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #ffffff;
    border-radius: 1cm;
    text-align: center; /* Lisää tähän */
}

.bike-gallery img {
    border-radius: 1cm;
    border-color: #000000;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.bike-item:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255);
    scale: 1.1;
    cursor: pointer;
    transition: scale 0.4s ease, box-shadow 0.6s ease;
}

  /* Fade-in animation for modal background */
  @keyframes modalOpen {
    from { opacity: 0; transform: translateY(-500px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes modalClose {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-500px); }
}

/* Slide-in animation for modal content */
@keyframes slideIn {
    from { transform: translateY(-500px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.568); 
    padding-top: 60px;
    z-index: 5;
  }
  
  .modal-content {
    background-color: #910000;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #910000;
    width: 70%; 
    height: auto;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    border-radius: 10px;
    animation: modalOpen 1s forwards; /* Avautumisefekti */
  }

  .modal button {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
  }

  .modal h2 {
    color: #ffffff;
  }

  .modal a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal p {
    font-size: xx-large ;
  }

  .modal-content img {
    width: 60%; /* Kuva skaalautuu moduulin sisään */
    border-radius: 1cm;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.modal-ots {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.modalright {
    background-color: #920000;
    color: #ffffff;
    position: relative;
    border-radius: 1cm;
    margin-left: 50px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-align: center;
    padding: 10px; /* Add padding for better spacing */
}

.modal-cen {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-close {
    animation: modalClose 1s forwards; /* Sulkeutumisanimaatio */
}

  
  .close {
    color: #000000;
    text-shadow: 0 0 10px rgb(255, 0, 0);
    float: right;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }

.feedback {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedback iframe {
    width: 100%;
    height: 900px;
    border-radius: 1%;
}

#contact {
    background-color: #9e0000;
    font-size: 25px;
}

#rent {
    background-color: #9e0000;
    font-size: 25px;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    color: #ffc6c6;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #00000000;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center; /* Lisää tämä */
    border-radius: 0.5cm;
    padding: 20px 0;
    width: 95%;
    height: auto;
}

footer iframe {
    display: block; /* Muuta flex:ksi, jos haluat käyttää flex-ominaisuuksia */
    width: 25%; /* Voit säätää leveyttä tarpeen mukaan */
    min-height: 500px;
    margin: 0 auto; /* Varmistaa keskittämisen */
}

footer button {
    display: flex;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    color: #ffffff;
    margin: 10px;
}

.Pin {
    width: 30px;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Lisää haluamasi väli nappejen väliin */
}

.footlog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust spacing between logos as needed */
}

.foot-logo {
    width: 200px; /* Adjust width as needed */
    height: auto;
}

@media screen and (max-width: 460px) {

    .nav-logo {
        width: 250px;
        height: auto;
    }

    .insta a img {
        display: flex;
        margin-left: 0px;
        margin-bottom: 50px;
        width: 10%;
        height: auto;
    }

    .hamburger {
        display: block;
    }

    .nav-items {
        overflow: auto;
    }

    .nav-items a {
        text-align: center;
        border-top: 1px solid #ccc;
        overflow: auto;
        font-size: 16px;
    }


    nav {
        flex-direction: row;
        align-items: center;
        width: 90%;
        height: 2.5cm;
    }

    section {
        width: 90%;
        margin-top: 125px;
        margin-left: 17.5px;
    }

    .hero-container {
        overflow: visible;
    }

    .hero-image {
        width: 50%;
        max-width: 100px; /* Tai mikä tahansa haluamasi koko */
        height: auto;
    }

    .column-left {
        position: absolute;
        right: -5%;
        bottom: 90%;
        margin-bottom: -100%;
        min-width: 90%;
    }

    .column-right {
        position: relative;
        left: 5%;
        margin-top: 50%;
        min-width: 90%;
    }

    .column-right a {
        font-size: 12px;
    }
    
    .column-right z {
        font-size: 20px;
    }
    
    .column-right p {
        font-size: 15px;
    }
    
    button {
        padding: 0.3cm 1.5cm;
        font-size: 18px;
    }

    button {
        padding: 0.2cm 1cm;
        font-size: 16px;
    }
    
    .bike-gallery img {
        width: 100%;
        height: auto;
    }

    .modal-content {
        width: 80%; 
        height: 90% auto;
    }
    
    .modal-content img {
        max-width: 100%; /* Kuva skaalautuu moduulin sisään */
        border-radius: 0.5cm;
    }

    .modal-ots {
        font-size: 30px;
    }

    .modal p {
        font-size: 15px;
    }
    
    .modalright {
        margin-left: 0px;
        box-shadow: 0 0 10px rgb(0, 0, 0);
        text-align: center;
        max-height: 300px;
        overflow: auto;
        border-radius: 0.5cm;
    }
    
    .modal-cen {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;
    }

    .close {
        font-size: 40px;
    }

    #about {
        font-size: 20px;
    }

    #contact {
        font-size: 20px;
    }

    #rent {
        font-size: 18px;
    }

    #rent iframe {
        max-width: 100%;
        max-height: 400px;
    }

    footer {
        font-size: 15px;
    }

    footer iframe {
        width: 75%; /* Voit säätää leveyttä tarpeen mukaan */
        min-height: 250px;
    }

    footer button {
        margin: 1px;
        width: fit-content;
    }

    .footer-buttons {
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }

    .footlog {
        flex-direction: column;
    }

    .foot-logo {
        width: 100px; /* Adjust width for smaller screens as needed */
    }
}

@media screen and (max-width: 1289px) {

    .hero {
        background-image: url('../KUVAT + MUUT/Taustakuva\ 3.jpg');
        background-size: cover;
        background-position: center;
    }

    .hamburger {
        display: block;
    }

    #hamtausta.show {
        display: block;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 100%;
        width: 50%;
        opacity: 1;
        box-shadow: 0 0 0px rgb(255, 0, 0);
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    .nav-items.active {
        display: flex;
        animation: slideDown 0.5s ease forwards;
    }

    .nav-items a {
        width: 100%;
        padding: 1rem;
        background-color: #910000;
        text-align: center;
        border-top: 1px solid #ccc;
        border-bottom: 5px solid #000000;
        border-radius: 0.5cm;
    }

    .language-selector {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #910000;
        border-top: 1px solid #ccc;
        border-bottom: 5px solid #000000;
        width: 100%;
        height: 1.5cm;
        border-radius: 0.5cm;
    }

    .insta {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #910000;
        border-top: 1px solid #ccc;
        border-bottom: 5px solid #000000;
        width: 100%;
        border-radius: 0.5cm;
    }

    .insta a {
        border-top: 0px solid #ccc;
        border-bottom: 0px solid #000000;
        width: 50px;
        height: 50px;
    }

    nav {
        flex-direction: row;
        align-items: center;
        height: 2.5cm;
        border-radius: 0.5cm;
    }

    .hero-container {
        display: block;
        flex-direction: column-reverse; /* Vaihda sarakkeiden järjestys, jotta right tulee ennen left */
        align-items: center;
    }

    .column-left {
        display: flex;
        top: -40%; /* Pysy ylhäällä */
        width: 50%; /* Aseta haluttu leveys */
    }

    .column-right {
        align-items: flex-start;
        width: 50%; /* Aseta haluttu leveys */
        height: auto; /* Aseta haluttu korkeus */
    }

    .column-right z {
        font-size: 20px;
        margin-bottom: 30px;
    }
    
    .column-right p {
        font-size: 15px;
        margin-bottom: 30px;
    }
    
    button {
        padding: 0.3cm 1.5cm;
        font-size: 18px;
    }

    button {
        padding: 0.2cm 1cm;
        font-size: 16px;
    }
    
    .modal-content img {
        min-width: 100%; /* Kuva skaalautuu moduulin sisään */
        border-radius: 0.5cm;
    }

    .modal-cen {
        flex-direction: column;
    }

    .modal p {
        font-size: 20px;
    }

    .modalright {
        margin-left: 0px;
        text-align: center;
        max-height: 300px;
        overflow: auto;
        border-radius: 0.5cm;
    }
    
    #rent {
        font-size: 20px;
    }

    #rent iframe {
        max-width: 100%;
        max-height: 400px;
    }

    footer {
        font-size: 17px;
    }

    footer .language-selector {
        background-color: #00000000;
        border: 0;
        justify-content: center;
    }

    footer iframe {
        width: 50%; /* Voit säätää leveyttä tarpeen mukaan */
        min-height: 250px;
    }

    .footlog {
        flex-direction: column;
    }

}

@media screen and (max-width: 1567px) {
    .language-selector {
        text-align: center;
        margin: 0px 0px;
    }


    .hero {
        background-size: cover;
        background-position: center;
        height: 50vh;
    }

    .hero-image {
        width: 100px;
        height: auto;
        
    }

    nav a {
        font-size: 22px;
        padding: 0 0.1cm;
    }

    .nav-items.active {
        display: flex;
    }


    nav {
        flex-direction: row;
        align-items: center;
        height: 2.5cm;
        border-radius: 0.5cm;
    }
    
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
    .column-left {
        margin-left: 10rem;
    }

    .column-right {
        top: 50%; /* Aseta elementin yläreuna näytön keskelle */
        right: 10%;
    }

    .column-right z {
        font-size: 20px;
    }
    
    .column-right p {
        font-size: 15px;
    }
    
    button {
        padding: 0.3cm 1.5cm;
        font-size: 18px;
    }

    button {
        padding: 0.2cm 1cm;
        font-size: 16px;
    }

    #rent iframe {
        max-width: 100%;
        max-height: 400px;
    }
}

@media screen and (max-width: 2374px) {
    .language-selector {
        text-align: center;
        margin: 0px 0px;
    }

    .hero-image {
        width: 75%;
        max-width: 500px; /* Tai mikä tahansa haluamasi koko */
        height: auto;
    }

    .nav-items.active {
        display: flex;
    }


    nav {
        flex-direction: row;
        align-items: center;
        height: 2.5cm;
        border-radius: 0.5cm;
    }
    
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .column-left {
        margin-left: 35rem;
        margin-top: 5rem;
    }

    .column-right {
        top: 30%; /* Aseta elementin yläreuna näytön keskelle */
        right: 10%;
    }

    .column-right z {
        font-size: 20px;
        color: #ffffff;
        border-color: #000;
    }
    
    .column-right p {
        font-size: 15px;
    }

    .modal-content img {
        width: 50%; /* Kuva skaalautuu moduulin sisään */
        height: auto;
    }

    .modal p {
        font-size: 20px;
    }
    
    button {
        padding: 0.3cm 1.5cm;
        font-size: 18px;
    }

    button {
        padding: 0.2cm 1cm;
        font-size: 16px;
    }


    #rent iframe {
        max-width: 100%;
        max-height: 400px;
    }
}