/* Yleiset tyylit */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

body {
    background: #000;
    background-size: cover;
    padding: 20px;
    position: relative; /* Lisää sivun sijainti */
}

/* CSS-animaatio boksien esiintulolle */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Alustetaan boksien alkutila */
section {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 0.5s ease forwards;
}

/* Sisältö näkyväksi */
section.visible {
    opacity: 1;
    transform: translateY(0);
}

.language-selector {
    display: flex;
    justify-content: center;
    gap: 20px; /* Lisää haluamasi väli nappejen väliin */
}

.flag-fi {
    background-image: url('Suomi.png');
    background-size: cover; /* Skaalaa kuva kuvakehykseen */
}

.flag-en {
    background-image: url('british.jpg');
    background-size: contain; /* Skaalaa kuva kuvakehykseen */
    background-position: center;
}


nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #910000;
    z-index: 3;
    width: 90%;
    height: 100px;
    border-radius: 1cm;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center; /* Lisää nav-items -elementin sisällön keskittäminen */
    gap: 2rem;
}


.language-selector button {
    margin: 15px 10px;
    padding: 10px 10px;
    background-color: #91000000;
    color: #ffffff;
    border-radius: 1cm;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.language-selector button:hover {
    background-color: #780000;
    color: #ff0000;
}

.nav-logo img, .logo img {
    width: 200px;
    height: auto;
}

.insta a img {
    width: 2cm;
    height: auto;
    margin-left: 10cm;
}

nav a {
    text-decoration: none;
    color: #ffbfbf;
    font-size: 25px;
    padding: 0 0.5cm;
    text-align: center; /* Keskitä linkkien teksti vaakasuunnassa */
    line-height: 1;
    text-shadow: 0 0 20px rgb(255, 255, 255);
}

nav a:hover {
    color: #ff0000;
    cursor: pointer;
}

.hero {
    background-image: url('Taustakuva\ 2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh; /* Varmistaa, että hero-osa vie vähintään yhden näkymän korkuisen tilan */
}

#contact-link {
    color: #ff0000;
    text-decoration: underline;
    cursor: pointer;
}

#contact-link:hover {
    color: #ff7373;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 1cm calc((100vw - 1300px) / 2);
}

button {
    padding: 0.5cm 2cm;
    font-size: 20px;
    border-radius: 1cm;
    color: #000;
    background: #ff0000;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

button:hover {
    background: #ff5151;
    color: #000;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; /* Lisää sarakkeen sijainti */
    right: 15.5cm;
}

.hero-image {
    width: 1000px;
    height: auto;
    
}

.column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Kiinnitä elementti näytön reunaan */
    top: 50%; /* Aseta elementin yläreuna näytön keskelle */
    right: 10%;
    max-width: 100%; /* Säädä maksimileveys tarpeidesi mukaan */
    padding: 20px;
    background-color: #91000027;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Muuta varjovaikutus tarpeidesi mukaan */
    z-index: 2; /* Varmista, että elementti on päällimmäisenä */
    overflow: auto;
}

.column-right z {
    margin-bottom: 2cm;
    font-size: 40px;
    line-height: 1;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.column-right a {
    color: white;
}

.column-right a:hover {
    color: rgb(255, 169, 169);
}

.column-right p {
    color: #ffffff;
    margin-bottom: 1cm;
    font-size: 30px;
    line-height: 1;
    max-width: 100%;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

/* Yhteiset tyylit kaikille section-elementeille */
section {
    stroke: #ff0000;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    margin: 20px 20px;
    padding: 20px;
    background-color: #910000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    margin-top: 100px; /* Lisää marginaali navin alle */
    overflow: hidden; /* Piilottaa ylivuotavan sisällön */
    word-wrap: break-word; /* Pakottaa pitkät sanat jakautumaan riveille */
}

/* Erilliset tyylit eri id:lle */
#about {
    background-color: #9e0000;
    font-size: 25px;
}

#bikes {
    background-color: #9e0000;
    font-size: 25px;
}

.bike-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.bike-gallery img {
    width: 100%;
    height: auto;
}

.feedback {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedback iframe {
    width: 100%;
    height: 900px;
    border-radius: 1%;
}

#contact {
    background-color: #9e0000;
    font-size: 25px;
}

#rent {
    background-color: #9e0000;
    font-size: 25px;
}


a {
    color: #ff0000;
}

a:hover {
    color: #ffc6c6;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #00000000;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    border-radius: 0.5cm;
    padding: 20px 0;
    width: 92%;
    height: auto;
}

footer button {
    display: flex;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    color: #ffffff;
    margin: 10px;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Lisää haluamasi väli nappejen väliin */
}

.footlog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust spacing between logos as needed */
}

.foot-logo {
    width: 200px; /* Adjust width as needed */
    height: auto;
}

@media screen and (max-width: 460px) {

    .nav-logo {
        width: 250px;
        height: auto;
    }
    
    .language-selector button:hover {
        background-color: #780000;
        color: #ff0000;
    }
    
    .hero {
        background-image: url('Taustakuva\ 3.jpg');
        background-size: cover;
        background-position: center;
    }

    .insta a img {
        display: flex;
        margin-left: 0px;
        margin-bottom: 50px;
        width: 10%;
        height: auto;
    }

    .hamburger {
        display: block;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        background-color: #910000;
        border-radius: 10px;
        overflow: hidden;
    }

    .nav-items.active {
        display: flex;
    }

    .nav-items a {
        padding: 1rem;
        text-align: center;
        border-top: 1px solid #ccc;
    }

    nav {
        flex-direction: row;
        align-items: center;
        height: 2.5cm;
        border-radius: 0.5cm;
    }

    .hero-container {
        overflow: auto;
    }

    .hero-image {
        width: 50%;
        max-width: 100px; /* Tai mikä tahansa haluamasi koko */
        height: auto;
    }

    .column-right {
        width: 100%;
    }

    .column-right a {
        font-size: 12px;
    }
    
    .column-right z {
        font-size: 20px;
    }
    
    .column-right p {
        font-size: 15px;
    }
    
    button {
        padding: 0.3cm 1.5cm;
        font-size: 18px;
    }

    button {
        padding: 0.2cm 1cm;
        font-size: 16px;
    }

    .bike-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .bike-gallery img {
        width: 100%;
        height: auto;
    }

    #about {
        font-size: 20px;
    }

    #contact {
        font-size: 20px;
    }

    #rent iframe {
        max-width: 100%;
        max-height: 400px;
    }

    footer {
        font-size: 15px;
    }

    footer button {
        margin: 1px;
        width: fit-content;
    }

    .footer-buttons {
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }

    .footlog {
        flex-direction: column;
    }

    .foot-logo {
        width: 100px; /* Adjust width for smaller screens as needed */
    }
}

@media screen and (max-width: 1289px) {

    .hero {
        background-image: url('Taustakuva\ 3.jpg');
        background-size: cover;
        background-position: center;
    }
    
    .insta a img {
        display: flex;
        margin-left: 0px;
        margin-bottom: 50px;
        width: 1cm;
        height: auto;
    }

    .hamburger {
        display: block;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        background-color: #910000;
        border-radius: 10px;
        overflow: hidden;
    }

    .nav-items.active {
        display: flex;
    }

    .nav-items a {
        padding: 1rem;
        text-align: center;
        border-top: 1px solid #ccc;
    }

    nav {
        flex-direction: row;
        align-items: center;
        height: 2.5cm;
        border-radius: 0.5cm;
    }

    .hero-container {
        display: block;
        flex-direction: column-reverse; /* Vaihda sarakkeiden järjestys, jotta right tulee ennen left */
        align-items: center;
    }

    .column-left {
        display: flex;
        top: -40%; /* Pysy ylhäällä */
        width: 50%; /* Aseta haluttu leveys */
    }

    .column-right {
        align-items: flex-start;
        width: 50%; /* Aseta haluttu leveys */
        height: 50%; /* Aseta haluttu korkeus */
    }

    .column-right z {
        font-size: 20px;
    }
    
    .column-right p {
        font-size: 15px;
    }
    
    button {
        padding: 0.3cm 1.5cm;
        font-size: 18px;
    }

    button {
        padding: 0.2cm 1cm;
        font-size: 16px;
    }

    .bike-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .bike-gallery img {
        width: 100%;
        height: auto;
    }
    

    #rent iframe {
        max-width: 100%;
        max-height: 400px;
    }

    footer {
        font-size: 17px;
    }

    .footlog {
        flex-direction: column;
    }

}

@media screen and (max-width: 1567px) {
    .language-selector {
        text-align: center;
        margin: 0px 0px;
    }


    .language-selector button:hover {
        background-color: #780000;
        color: #ff0000;
    }

    .hero {
        background-image: url('Taustakuva\ 2.jpg');
        background-size: cover;
        background-position: center;
        height: 50vh;
    }

    .hero-image {
        width: 100px;
        height: auto;
        
    }

    nav a {
        font-size: 22px;
        padding: 0 0.1cm;
    }

    .insta a img {
        display: flex;
        margin-left: 0px;
        margin-bottom: 50px;
        width: 1cm;
        height: 1cm;
    }


    .nav-items.active {
        display: flex;
    }


    nav {
        flex-direction: row;
        align-items: center;
        height: 2.5cm;
        border-radius: 0.5cm;
    }
    
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
    .column-left {
        margin-left: 10rem;
    }

    .column-right {
        top: 50%; /* Aseta elementin yläreuna näytön keskelle */
        right: 10%;
    }

    .column-right z {
        font-size: 20px;
    }
    
    .column-right p {
        font-size: 15px;
    }
    
    button {
        padding: 0.3cm 1.5cm;
        font-size: 18px;
    }

    button {
        padding: 0.2cm 1cm;
        font-size: 16px;
    }

    #rent iframe {
        max-width: 100%;
        max-height: 400px;
    }
}

@media screen and (max-width: 2374px) {
    .language-selector {
        text-align: center;
        margin: 0px 0px;
    }

    .language-selector button:hover {
        background-color: #780000;
        color: #ff0000;
    }

    .hero-image {
        width: 75%;
        max-width: 500px; /* Tai mikä tahansa haluamasi koko */
        height: auto;
    }
    

    .insta a img {
        display: flex;
        margin-left: 0px;
        margin-bottom: 0px;
        width: 1cm;
        height: auto;
    }


    .nav-items.active {
        display: flex;
    }


    nav {
        flex-direction: row;
        align-items: center;
        height: 2.5cm;
        border-radius: 0.5cm;
    }
    
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .column-left {
        margin-left: 35rem;
        margin-top: 5rem;
    }

    .column-right {
        top: 30%; /* Aseta elementin yläreuna näytön keskelle */
        right: 10%;
    }


    .column-right z {
        font-size: 20px;
        color: #ffffff;
        border-color: #000;
    }
    
    .column-right p {
        font-size: 15px;
    }
    
    button {
        padding: 0.3cm 1.5cm;
        font-size: 18px;
    }

    button {
        padding: 0.2cm 1cm;
        font-size: 16px;
    }
    
    .bike-gallery img {
        width: 100%;
        height: auto;
    }


    #rent iframe {
        max-width: 100%;
        max-height: 400px;
    }
}